<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988977219857-9qkq1tqh71qfdpipbh41bqpq1mjco31a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988977219857-9qkq1tqh71qfdpipbh41bqpq1mjco31a</string>
	<key>API_KEY</key>
	<string>AIzaSyBAw4yQ72j76KZb8g1lsrG9pRP_YFf18Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>988977219857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sketch</string>
	<key>PROJECT_ID</key>
	<string>sketchy-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>sketchy-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988977219857:ios:38cfd9f92809723294a4b0</string>
</dict>
</plist>